Conformal-Field-Theory.aux
Conformal-Field-Theory.pdf
Conformal-Field-Theory.bbl
Conformal-Field-Theory.blg
Conformal-Field-Theory.log
Conformal-Field-Theory.toc
Conformal-Field-Theory.fdb_latexmk
Conformal-Field-Theory.fls
Conformal-Field-Theory.out
fig/Quantum Field Theory/transformation_illustration/fig.aux
fig/Quantum Field Theory/transformation_illustration/fig.fdb_latexmk
fig/Quantum Field Theory/transformation_illustration/fig.log
fig/Quantum Field Theory/transformation_illustration/fig.fls
fig/Quantum Field Theory/transformation_illustration/fig.pdf
fig/Quantum Field Theory/transformation_illustration/fig.pdf
